/* ------------------------------------------------- */
/* Base */
/* ------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

:root {
    --purple: #826ad8;
    --darkpurple: #1c1045;
    --blue: #a4caff;
    --black: #140004;
    --white: #ffffff;
    --heading: "Boldonse";
    --paragraph: "Roboto Condensed";
}

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* For Desktop */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------- */
/* Header */
/* ------------------------------------------------- */

header {
    background: var(--purple);
}

header div {
    display: flex;
    align-items: center;
    padding: 1rem;
}

#logo {
    height: 5rem;
    width: auto;
}

header h1 {
    color: var(--white);
    margin-left: 1rem;
}

#welcome {
    right: 1rem;
    position: absolute;
    top: 1rem;
    color: var(--white);
}

#clear {
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
}

header nav {
    display: block;
    background-color: var(--darkpurple);
    padding: 1rem;
}

#nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#nav-list li a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

#nav-list li a:hover {
    color: rgb(122, 122, 122);
}

/* ------------------------------------------------- */
/* Home */
/* ------------------------------------------------- */

.home h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.hero-image img {
    width: 100%;
    max-width: 1400px;
    object-fit: cover;
    margin-top: -1.2rem;
    position: relative;
}

.hero-button {
    position: absolute;
    top: 80%;
    left: 46%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    padding: 1rem;
    text-decoration: none;
}

.hero-button {
    box-shadow: 0 0 32px rgba(255, 255, 255, 0.5);
}

.hero-button:hover {
    background-color: var(--black);
    color: var(--white);
}

#pokemon, #yugi-oh, #one-piece, #disney {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 5%;
    list-style: none;
    text-align: center;
}

#pokemon img,
#yugi-oh img,
#one-piece img,
#disney img {
    max-width: 250px;
    width: 100%;
}

/* ------------------------------------------------- */
/* Browse */
/* ------------------------------------------------- */

.browse h2,
.browse label {
    margin: 1rem 6%;
}

.favorite-star button, .no-show {
    all: unset;
    cursor: pointer;
}

#card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 5%;
    list-style: none;
}

#card-list li {
    padding: 1rem;
}

#card-list li:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#card-list li img {
    max-width: 500px;
    width: 100%;
}

dialog {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0 0 3rem #777;
    margin: auto;
    width: 90%;
    height: 30%;
    max-width: 900px;
}

dialog p {
    margin: 1rem 0;
}

::backdrop {
    background-color: rgba(0 0 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--black);
}

/* ------------------------------------------------- */
/* Favorite */
/* ------------------------------------------------- */

.favorite-title {
    margin: 3rem auto;
    text-align: center;
}

#delete-favorites {
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    display: flex;
    justify-self: center;
    padding: 0.5rem;
}

.remove-favorite {
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
}

#favorites {
    margin: 1rem auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
    list-style-type: none;
}

#favorites div {
    display: flex;
    flex-direction: column;
}

#favorites p, #favorites h3 {
    margin: 0.5rem 0;
}

#favorites img {
    max-width: 250px;
    width: 100%;
    grid-column: 2/3;
}

/* ------------------------------------------------- */
/* Join */
/* ------------------------------------------------- */

.join h2 {
    margin: 1.5rem 20% 1rem 20%;
}

#form {
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--blue);
    margin: 1rem 20% 2rem 20%;
}

#form label {
    color: var(--black);
}

#form input{
    display: block;
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 0.2rem;
}

#form div {
    margin: 1rem;
}

#form button {
    display: block;
    width: 96%;
    margin: 1.5rem auto;
    height: 2rem;
    background-color: var(--black);
    border: 1px solid var(--black);
    border-radius: 10px;
    color: var(--white);
}

#button:active {
    background-color: var(--white);
    color: var(--black);
}

/* ------------------------------------------------- */
/* Footer */
/* ------------------------------------------------- */

footer {
    background-color: var(--purple);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    margin-top: 4rem;
}

footer div {
    text-align: center;
}

footer div a {
    display: block;
    text-decoration: none;
    color: var(--white);
}

footer div p, footer div a {
    margin: 0.8rem 0;
}

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* For Tablet */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1025px) {
    nav {
        display: flex;
    }

    /* Index */
    .hero-button {
        left: 44%;
    }

    /* Favorite */

    #favorites {
        width: 80%;
    }

    #favorites img {
        max-width: 250px;
    }

    /* Browse */

    .browse h2, 
    .browse label {
        margin: 1rem 8%;
    }

    #card-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem 7%;
        list-style: none;
    }

    /* Join */

    .join h2 {
        margin: 1.5rem 15% 1rem 15%;
    }

    #form {
        margin: 1rem 15% 2rem 15%;
    }
}

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* For Mobile */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 640px) {
    
    header div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    header div h1 {
        margin: 1rem 0 0.5rem 0;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 1rem;
    }

    /* Index */

    #pokemon,
    #yugi-oh,
    #one-piece,
    #disney {
        display: flex;
        flex-direction: column;
        margin: 2rem 10%;
        list-style: none;
        text-align: center;
    }

    #pokemon img,
    #yugi-oh img,
    #one-piece img,
    #disney img {
        max-width: 400px;
        width: 100%;
    }

    .hero-button {
        left: 45%;
    }

    /* Favorite */

    #favorites {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    #favorites img {
        display: flex;
        justify-self: center;
        max-width: 500px;
    }

    /* Browse */

    .browse h2,
    .browse label {
        margin: 1rem 11%;
    }

    #card-list {
        display: flex;
        flex-direction: column;
        margin: 1rem 10%;
        list-style: none;
    }

    /* Join */

    .join h2 {
        margin: 1.5rem 10% 1rem 10%;
    }

    #form {
        margin: 1rem 10% 2rem 10%;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
    }
}