/* Main Supplementary Color: #FE5F55 */
/* Secondary Supplementary Color: #EEF5DB */
/* Alternative Color: #4F6367 */

:root {
    --mainthemecolor: #940a00;
    --supplementarythemecolor: #EEF5DB;
    --alternativethemecolor: #5f5f5f;
    --lightgray: #eaeaea;
    --white: #FFFFFF;
    --black: #0E1B1B;
    --lightred: #ffbeb9;
}

h1,
h2,
h3,
li,
a {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Quicksand", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* ---------------------- */
/* Header */
/* ---------------------- */

header {
    background-color: var(--mainthemecolor);
    padding-top: 1rem;
}

header p {
    color: var(--white);
    margin: 2rem;
    font-size: 1.5rem;
}

nav {
    background-color: var(--black);
    width: 100%;
}

nav li {
    color: var(--white);
    padding: 1rem;
}

nav a:hover {
    background-color: var(--white);
    color: var(--black);
}

nav a {
    display: block;
    color: var(--white);
    text-decoration: none;
    text-align: center;
}

/* ---------------------- */
/* Main */
/* ---------------------- */

h1 {
    margin: 2rem 2%;
}

#discover-container {
    display: grid;
    margin: 1rem 2%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    list-style-type: none;
}

#discover-container li {
    background-color: var(--lightgray);
    border-radius: 8px;
    padding: 0.5rem;
}

#discover-container li:hover {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1.05);
    opacity: 0.8;
}

#discover-container button:hover {
    color: var(--black);
    background-color: var(--white);
}

#discover-container h2 {
    margin: 1rem 0;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#image-container figure {
    grid-column: 1/2;
    margin: 0;
}

#image-container div {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#discover-container button {
    display: block;
    width: 100%;
    height: 1.5rem;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    margin: 0.5rem 0;
}

/* ---------------------- */
/* Footer */
/* ---------------------- */

footer {
    margin-top: 2rem;
    background-color: var(--mainthemecolor);
    color: var(--white);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

footer section {
    align-self: center;
    width: 30%;
}

footer section img {
    height: 4rem;
    margin: 1rem;
}

footer section:nth-child(2) {
    display: flex;
    justify-content: center;
}

/* ---------------------- */
/* Media Queries */
/* ---------------------- */

/* For Nav */

@media only screen and (min-width: 600px) {
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: right;
    }

    #nav-button {
        display: none;
    }
}

/* For Main */
/* For Tablets */
@media (max-width: 1025px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #discover-container {
        display: flex;
        flex-direction: column;
    }

    #discover-container li:hover {
        transition: none;
        transform: scale(1);
        opacity: 1;
    }

    footer section:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
    }

    .show {
        display: flex;
    }
}

/* For Mobile Phones */
@media only screen and (max-width: 640px) {
    main {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    nav {
        margin: 1rem 0rem;
    }

    nav ul {
        display: none;
        flex-direction: column;
        margin-left: -2.5rem;
        width: 100%;
        margin-top: 1rem;
    }

    .show {
        display: flex;
    }

    #discover-container {
        display: flex;
        flex-direction: column;
    }

    #discover-container li:hover {
        transition: none;
        transform: scale(1);
        opacity: 1;
    }

    #image-container {
        display: flex;
        flex-direction: column;
    }

    #image-container figure {
        display: flex;
        justify-content: center;
    }

    #image-container p {
        margin: 0.5rem 0;
    }

    #image-container address {
        margin: 0.5rem 0;
    }

    footer section:nth-child(2) {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }
}